/FilteringExample.class
/StreamExample.class
/StreamExample$Member.class
/TolistExample.class
/Student.class
/Student$City.class
/Student$Sex.class
/StreamExample1.class
/StreamExample1$Member.class
/GroupingByExample.class
/StreamExample2.class
/StreamExample2$Member.class
