/MyFunctionalInterface.class
/MyFunctionalInterfaceExample.class
/MyFunctionalInterface1.class
/MyFunctionalInterface1Example.class
/MyFunctionalInterface3.class
/MyFunctionalInterface3Example.class
/UsingThis.class
/UsingThis$Inner.class
/UsingThisExample.class
/UsingLocalVariable.class
/UsingLocalVariableExample.class
/LAmbdaExample.class
/LambdaExample$1MaxOperator.class
/LambdaExample.class
/LambdaExample1.class
