/MyClass1$1LocalClass.class
/MyClass1$NestedClass.class
/MyClass1$StaticNestedClass.class
/MyClass1.class
/MyClass2$1LocalClass.class
/MyClass2.class
/MyClass3$1.class
/MyClass3.class
/MyInterface2.class
/MyInterface3.class
