/C01Variable.class
/C02Scope.class
/C03DataType.class
/C04Integer.class
/C05Char.class
/C06Double.class
/C07Boolean.class
/C08TypeConversion.class
/C09MaxMinValue.class
/C10Expression.class
/C11String.class
/C12String.class
