/C01Stream.class
/C02TerminalOperation.class
/C03TerminalOperation.class
/C04IntermediateOperation.class
/C05IntStream.class
/C06IntStream.class
/C07Mapping.class
/C08Mapping.class
/C09Parallel.class
/C10Parallel.class
/C11Collect.class
/C12Collect.class
/C13Collect.class
/C14Collect.class
/C15MethodReference.class
/C16MethodReference.class
/C17MethodReference.class
/C18ConstructorReference.class
/C19Collect.class
/C20Collect.class
/C21GroupingBy.class
/C22GroupingBy.class
