/BooleanExample.class
/ByteExample.class
/CastingExample.class
/CharExample.class
/CheckValueBeforeCasting.class
/FloatDoubleExample.class
/FromIntDouble.class
/GarvageValueExample.class
/LongExample.class
/PromotionExapmle.class
/VariableExample.class
/VariavleScopeExample.class
/intExample.class
