/MyClass1.class
/MyClass2.class
/MyClass3.class
/MyClass4.class
/MyInterface1.class
/MyInterface2.class
/MyInterface3.class
/MyInterface4.class
/MyClass5.class
/MyClass6.class
/MyInterface6.class
/MyClass8.class
/MyClass7.class
/MyClass9.class
/MyInterface7.class
